*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.calc-header {
    text-align: center;
    margin-bottom: 10px;
}

.calc-header h1 {
    font-size: 40px;
    font-weight: 700;
    color: black;
    letter-spacing: 2px;
    text-shadow: 0 4px 20px rgba(255, 255, 255, 0.15);
}

.calc-header p {
    font-size: 14px;    
    color: black;
    letter-spacing: 3px;
    margin-top: 2px;
    font-weight: bold;
}


.container{
    border: 2px solid black;
    height: 609px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background : linear-gradient(45deg, #0a0a0a , #3a4452 ) ;
}
.calculator{
    border: 2px solid #717377;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    border-radius: 20px;
    height: 550px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    
}

button{
    height: 70px;
    width: 70px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    transition: all 0.2s ease;
}


button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

button:active {
    transform: scale(0.95);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

#mesg{
    height: 60px;
    width: 270px;
    border-radius: 10px;
    text-align: right;
    margin: 20px;
    background: transparent;
    border: none;   
    font-size: 20px;
    color: white;
    font-weight: bold;
    
}
#mesg:focus {
    outline: none;
    box-shadow: none;
}


.col{
    color: #00ff6a;  
}

.col2{
     background: linear-gradient(135deg, orange, #ff9800);
    color: white;
}
